<div class="laser-modules-by-wavelength-info page-width">
  
  <div class="wavelength-guide-info-wrap">
    <h2>Choose a Wavelength</h2>
    <div class="wavelength-guide-info">
      <p>Over the years, we extensively expanded our range of laser modules, and now we cover a broad spectrum of laser wavelengths. From ultraviolet lasers, via visible spectrum, up to near-infrared lasers.</p>
     <br>
      <p>Currently, we offer over 120 different laser modules, with power output ranging from 5mW up to 30 Watts, in the range from 304nm to 975nm. The wavelength chart below shows all the currently available laser wavelengths we offer. Just click on one of the wavelength numbers or the point on the chart and the system will display all the available models for that wavelength.</p>
    </div>
    
<!--  Desktop Gradient    -->
    
    <div class="wavelength-guide-links">
      <a class="wavelength-guide-link" href="/collections/wavelength-304">304</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-320">320</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-375">375</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-395">395</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-405">405</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-415">415</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-420">420</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-445">445</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-460">460</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-462">462</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-473">473</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-480">480</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-488">488</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-505">505</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-514">514</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-520">520</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-532">532</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-561">561</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-577">577</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-590">590</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-607">607</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-637">637</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-638">638</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-639">639</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-660">660</a>
      <p class="wavelength-guide-link">808</p>
      <p class="wavelength-guide-link">852</p>
      <p class="wavelength-guide-link">915</p>
    </div>
    
    <div class="wavelength-guide-line-gradient">

    </div>
    
    
   <!--  Mobile Gradient    -->
    <div class="wavelength-guide-links mobile-wavelength-guide-links mobile-wavelength-guide-links-1">
      <a class="wavelength-guide-link" href="/collections/wavelength-304">304</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-320">320</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-375">375</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-395">395</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-405">405</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-415">415</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-420">420</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-445">445</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-460">460</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-462">462</a>
    </div>

    <div class="wavelength-guide-line-gradient mobile-wavelength-guide-line-gradient mobile-wavelength-guide-line-gradient-1">

    </div>

    <div class="wavelength-guide-links mobile-wavelength-guide-links mobile-wavelength-guide-links-2">
      <a class="wavelength-guide-link" href="/collections/wavelength-473">473</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-480">480</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-488">488</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-505">505</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-514">514</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-520">520</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-532">532</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-561">561</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-577">577</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-590">590</a>
    </div>

    <div class="wavelength-guide-line-gradient mobile-wavelength-guide-line-gradient mobile-wavelength-guide-line-gradient-2">

    </div>

    <div class="wavelength-guide-links mobile-wavelength-guide-links mobile-wavelength-guide-links-3">
      <a class="wavelength-guide-link" href="/collections/wavelength-607">607</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-637">637</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-638">638</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-639">639</a>
      <a class="wavelength-guide-link" href="/collections/wavelength-660">660</a>
      <p class="wavelength-guide-link">808</p>
      <p class="wavelength-guide-link">852</p>
      <p class="wavelength-guide-link">915</p>
    </div>

    <div class="wavelength-guide-line-gradient mobile-wavelength-guide-line-gradient mobile-wavelength-guide-line-gradient-3">

    </div>
  </div>
  
  <div class="collection-info-wrap">
    <div class="collection-info">
      <h2>Diode Laser Modules</h2>
      <p>Here at Kvant Lasers, s.r we develop and manufacture a wide range of diode laser modules that emit laser radiation within the visible spectrum of light and ultraviolet spectrum.</p>
      <h2>Laser Colours - Wavelengths</h2>
      <p>The diode laser modules that output red, green and blue laser beam, as well as full-colour white-light laser beam (RGB laser diode modules), are used mainly in laser display projectors. For this purpose we usually utilise diode laser modules of the following wavelengths and their combinations:<br>
      <p>445nm, 460nm, 520nm, 637nm and 660nm.
      <h2>Power Output of our diode laser modules</h2>
      <p>The power output of KVANT diode laser modules ranges from about 20mW to 30 Watts. However, if a client needs something that we do not manufacture as a standard product, we can always offer a solution.</p>
      <p>So whether it is 200mW, 500mW, 2W or 10W diode laser module, or customised beam profile or divergence of the laser beam to fit requirements, we can do it.</p>
    </div>

    <div class="collection-info">
      <h2>Laboratory and Scientific diode laser modules and DPSS modules</h2>
      <p>For laboratory and scientific purposes, we developed some other models of diode laser modules. These cover the wavelengths from 304nm to 915nm.</p>
      <p>Some of the laser modules manufactured by us are not classified as standard diode laser modules. The technology we use inside them is more like DPSS (diode-pumped solid-state), and we utilise this technology for manufacturing of laser modules that emit radiation of 320nm, 561nm, 607nm and 639nm.</p>

      <h2>Fibre Coupling</h2>
      <p>The fibre coupling is available for most KVANT diode laser modules, DPSS and OPSL modules that we supply. We also offer our own diode laser module controllers that are suitable for the laboratory environment and research applications.</p>

      <h2>Coherent OPSL modules</h2>
      <p>KVANT has been the official integrator of Coherent OPSL modules for many years now. We use OPSL modules for manufacturing high power laser display systems. We can also supply them individually, built into a self-contained housing which can be very practical for integrating them into a laboratory setup, research laser systems or other devices.</p>

    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Modules Wavelength Guide",
    "settings": [

	]
  }
{% endschema %}

