<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="page-categories page-laser-modules-by-type">
  <div class="sub-collections">  
    <div class="collection-items">
      
      <div class="collection_item">
        <div class="collection-content">
          <h2>UP TO 200mW</h2>
          <a href="/collections/up-to-200mw" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/UP-TO-200mW.png?v=1587829491">
        </div>
      </div>
      
      <div class="collection_item">
        <div class="collection-content">
          <h2>200mW - 1W</h2>
          <a href="/collections/200mw-1w" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/200mW---1W.png?v=1587829503">
        </div>
      </div>
      
      <div class="collection_item">
        <div class="collection-content">
          <h2>OVER 1W</h2>
          <a href="/collections/over-1w" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/OVER_1W.png?v=1587829512">
        </div>
      </div>
    </div>
  </div>
</div>
