<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="site-page custom-page page-laser-equipment-rental" data-template-page>
  <div class="wrap">
    
    <div class="info page-laser-equipment-rental-info">
      <p class="bold-text">Sometimes it makes more sense to just rent the laser equipment rather than to buy. For such cases we have an extensive supply of quality laser equipment ready for rental and a dedicated support staff to assist you.</p>
      
      <p>So whether you need to rent a laser, laser control system or any other accessory, we can supply a quality product and will deliver on time.</p>

      <p class="bold-text">Benefits of KVANT laser rental:</p>

      <ul>
        <li>Over 100 laser systems of various power outputs are ready for immediate transfer to your location.</li>
        <li>Worldwide network of our partners and distributors ensures you can have your show pretty much anywhere in the world and on time.</li>
        <li>Wide portfolio of products to rent you can choose from – laser display systems and accessories, LED screens, video projectors, media servers, and more.</li>
      </ul>
      
      <p>As a manufacturer we have considerable advantage against some other laser rental companies on the market:  </p>
      
      <ul>
        <li>If you need to rent more laser equipment than we have currently available, we can build more.</li>
        <li>If you need some customized equipment for your show, we will do our best to make it happen.</li>
        <li>If you find comparable solution elsewhere, we will offer a better option.</li>
      </ul>
      
      <p>Our flexibility and extensive support network means there’s always somebody nearby you available to help you out if needed.</p>
      
      <div class="video-col">
        <div class="responsive-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/IGn233dWXHs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
        </div>
      </div>
      
      <div class="references-wrap">
        <h2>References</h2>
        
        <div class="references-info">
          
          <a class="references-link" href="http://www.bmw.com/com/en/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/13.png?v=1585310484" alt="BMW">
          </a>
          
          <a class="references-link" href="https://www.davidguetta.com" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7.png?v=1585310484" alt="David Guetta">
          </a>
          
          <a class="references-link" href="http://www.johnsoncontrols.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/16.png?v=1585310484" alt="Johnson Controls">
          </a>
          
          <a class="references-link" href="http://www.marriott.com/default.mi" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9.png?v=1585310484" alt="Marriott">
          </a>
          
          <a class="references-link" href="http://www.marchedufilm.com/en" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/10_ffe2026c-b340-4e74-bb10-e30b5449f15f.png?v=1585310484" alt="Marché du Film">
          </a>
          
          <a class="references-link" href="">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/11.png?v=1585310484" alt="Koh-i-Noor">
          </a>

          <a class="references-link" href="https://www.bellagio.com/en/nightlife/hyde.html" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/12.png?v=1585310484" alt="Hyde Bellagio">
          </a>
          
          <a class="references-link" href="http://www.ibm.com/us-en/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/14.png?v=1585310484" alt="IBM">
          </a>
          
          <a class="references-link" href="http://www.eurovision.tv/page/timeline" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8.png?v=1585310484" alt="Eurovision">
          </a>

          <a class="references-link" href="http://main.skrillex.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_8fc0b6be-6872-4e65-976f-a7e23593a387.png?v=1585310484" alt="Skrillex">
          </a>
          
          <a class="references-link" href="http://www.iihf.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_5f16c8ad-c4c8-4899-b140-c3b46138d7c1.png?v=1585310484" alt="IIHF">
          </a>
          <a class="references-link" href="http://www.audi.com/index.html" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_87ae4e70-cee5-4f6c-8d65-5aefa36d8d24.png?v=1585310484" alt="Audi">
          </a>
          <a class="references-link" href="http://tiesto.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_a2962cfd-14dc-4813-8e75-bc1c758d52d4.png?v=1585310484" alt="Tiesto">
          </a>
          <a class="references-link" href="http://www.paulvandyk.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5.png?v=1585310484" alt="Paul van Dyk">
          </a>
      
        </div>
      </div>
    </div> 
    
    <div class="page-form page-form-laser-equipment-rental">
     <div style="margin:0 auto;" class="pxFormGenerator" id="v9PrJZbQKpKET52jsKY_AQ"></div>
    </div>
    
      <div class="gallery-page-wrap mosaic-wrap">
		
      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_5a3d1c20-aa71-4397-ba18-58bd7fda7f3d.jpg?v=1586254817);">
            <h3>Let It Roll 2017</h3></div>
          <div id="rental-gallery-1" class="mosaic-info">
            <a href="https://youtu.be/6WNHG2WispY" class="btn">
              Play Video
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_5a3d1c20-aa71-4397-ba18-58bd7fda7f3d.jpg?v=1586254817"></a>
          </div>

        </div>
      </div>
      
      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_33639ce7-0998-4a7f-a997-a158c29cecaa.jpg?v=1586254995);">
            <h3>Heluz Corporate Event /in cooperation with Art4Promotion</h3></div>
          <div id="rental-lightgallery-1" class="mosaic-info">
            <a href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_33639ce7-0998-4a7f-a997-a158c29cecaa.jpg?v=1586254995" class="btn">
              Open gallery
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_33639ce7-0998-4a7f-a997-a158c29cecaa.jpg?v=1586254995"></a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_d7956b30-0593-4a8d-ac8b-7bcf884d18c6.jpg?v=1586254994">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_d7956b30-0593-4a8d-ac8b-7bcf884d18c6.jpg?v=1586254994">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_16136ee2-dd08-4706-bd4a-ad140bf172c2.jpg?v=1586254994">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_16136ee2-dd08-4706-bd4a-ad140bf172c2.jpg?v=1586254994">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_8b49423b-b654-4caf-b016-26291764d9c7.jpg?v=1586254994">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_8b49423b-b654-4caf-b016-26291764d9c7.jpg?v=1586254994">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_7c3ad69c-ca86-4210-a9fd-138eb80c230c.jpg?v=1586254994">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_7c3ad69c-ca86-4210-a9fd-138eb80c230c.jpg?v=1586254994">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_3d03c387-9792-4b86-8a86-dc6815598452.jpg?v=1586254994">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_3d03c387-9792-4b86-8a86-dc6815598452.jpg?v=1586254994">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_060503a7-3e2b-459f-af51-5c1165116169.jpg?v=1586254994">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_060503a7-3e2b-459f-af51-5c1165116169.jpg?v=1586254994">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8_aa909ed8-bcc8-491a-a9d1-a85cdec10df6.jpg?v=1586254995">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8_aa909ed8-bcc8-491a-a9d1-a85cdec10df6.jpg?v=1586254995">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9_9ef89b6d-d5ed-40ae-a918-8a2789d2868e.jpg?v=1586254994">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9_9ef89b6d-d5ed-40ae-a918-8a2789d2868e.jpg?v=1586254994">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/10_19739d9f-6ff4-4ae6-a708-df781e2dfeae.jpg?v=1586254994">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/10_19739d9f-6ff4-4ae6-a708-df781e2dfeae.jpg?v=1586254994">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/11_efbf5bfb-6e21-4e28-b8e4-5a5e11072e96.jpg?v=1586254994">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/11_efbf5bfb-6e21-4e28-b8e4-5a5e11072e96.jpg?v=1586254994">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/12_8e0dee41-d79d-41ef-8b38-3a41b278f2d7.jpg?v=1586254994">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/12_8e0dee41-d79d-41ef-8b38-3a41b278f2d7.jpg?v=1586254994">
            </a>

          </div>
        </div>
      </div>
        
        <div class="mosaic-block-wrap">
          <div class="mosaic-block">
            <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_5b161812-84dd-47fb-b2d7-3241cae72a2e.jpg?v=1586255140);">
              <h3>Formula 1 - Bahrain Grand Prix /in cooperation with Laser Saga </h3></div>
            <div id="rental-lightgallery-2" class="mosaic-info">
              <a href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_5b161812-84dd-47fb-b2d7-3241cae72a2e.jpg?v=1586255140" class="btn">
                Open gallery
                <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_5b161812-84dd-47fb-b2d7-3241cae72a2e.jpg?v=1586255140"></a>

              <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_79e88c8c-e09c-4d3d-8fb9-1c062e4ba7bb.jpg?v=1586255140">
                <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_79e88c8c-e09c-4d3d-8fb9-1c062e4ba7bb.jpg?v=1586255140">
              </a>

              <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_6d52a9da-642d-448b-b0c6-15838f0c84cd.jpg?v=1586255139">
                <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_6d52a9da-642d-448b-b0c6-15838f0c84cd.jpg?v=1586255139">
              </a>

              <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_12b3f798-8194-46e9-97b8-8f148a9739ca.jpg?v=1586255139">
                <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_12b3f798-8194-46e9-97b8-8f148a9739ca.jpg?v=1586255139">
              </a>

              <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_72a900f8-1021-490b-9f8a-4ce85b8422fb.jpg?v=1586255140">
                <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_72a900f8-1021-490b-9f8a-4ce85b8422fb.jpg?v=1586255140">
              </a>

              <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_a730e3da-79cb-4f56-814d-7706b4bd498f.jpg?v=1586255139">
                <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_a730e3da-79cb-4f56-814d-7706b4bd498f.jpg?v=1586255139">
              </a>

              <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_3a78b493-225e-4e8e-b922-475b6471ece4.jpg?v=1586255139">
                <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_3a78b493-225e-4e8e-b922-475b6471ece4.jpg?v=1586255139">
              </a>

              <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8_2c765c3a-dcc1-405c-94c7-b9e30df12c3d.jpg?v=1586255139">
                <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8_2c765c3a-dcc1-405c-94c7-b9e30df12c3d.jpg?v=1586255139">
              </a>

            </div>
          </div>
        </div>

        <div class="mosaic-block-wrap">
          <div class="mosaic-block">
            <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_eae48811-eec6-4734-acf8-6f7970bfd607.jpg?v=1586255378);">
              <h3>Prolight + Sound, Frankfurt 2017</h3></div>
            <div id="rental-gallery-2" class="mosaic-info">
              <a href="https://youtu.be/-xzP0YlJTOg" class="btn">
                Play Video
                <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_eae48811-eec6-4734-acf8-6f7970bfd607.jpg?v=1586255378"></a>
            </div>

          </div>
        </div>

        <div class="mosaic-block-wrap">
          <div class="mosaic-block">
            <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_bf3cbe99-fa0d-44ca-b586-45f54694bbfe.jpg?v=1586255378);">
              <h3>Primate's Palace, Festival of Light 2016</h3></div>
            <div id="rental-gallery-3" class="mosaic-info">
              <a href="https://youtu.be/HvDH90IWXuQ" class="btn">
                Play Video
                <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_bf3cbe99-fa0d-44ca-b586-45f54694bbfe.jpg?v=1586255378"></a>
            </div>

          </div>
        </div>
       
    </div>
    
      <div class="testiminials-wrap">

        <h2>Testimonials</h2>

        <div class="testiminials-content">
          
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>KVANT and their products are famous here in Russia. The quality and reliability of their equipment is always exceptional. Many thanks to the rental department and personally to Mr. Simkovich and Mr. Dobsovic. They are ready to help with our events, 24/7! Fast response to our needs, perfect organization of logistics, and always perfect working equipment! Many thanks for our long and effective cooperation with KVANT!</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">LaserNewTec Company Moscow – Miroslav Kazakov</p>
          </div>
          
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>Everyone at KVANT in their sales and rental departments is incredible to work with! They are among our most trusted relationships, and working with everyone in their organization is always a pleasure. We consider them as family, and they are an integral part of our business!</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Lightwave International USA – Brian Bourgeois</p>
          </div>
          
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>After working with KVANT over the years, these are my sincere impressions: good rental service and availability, even when we needed multiple lasers; balanced prices; knowledgeable and helpful technical support when needed. All in all – KVANT rental service is an excellent partner!</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Lightco IT – Franco Lorenzi</p>
          </div>
          
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>We have been working with KVANT very closely for many years now, and we are pleased to represent KVANT in Russia as their official distributor. We have repeatedly invited KVANT to joint projects in Europe and Asia, and have always been satisfied with the professional level of their rental department employees. Best wishes for this company.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Orion Art Multimedia Moscow – Alexander Timofeev</p>
          </div>

          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>The reliability and steady quality of KVANT rental service is based on their vast experience, ability to understand the client's needs, and of course their well-crafted KVANT laser projectors. KVANT rental service knows their products, knows how to use them, and knows how to manage the project as well. As their rental client, you can relax and rely that everything will be taken care of.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Laserboy Sweden – Filip Lundkvist</p>
          </div>
          
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>We have been working with KVANT since 2005 and have done hundreds of shows together. The professionalism and quality of KVANT lasers is unmatched. The proof is in the world-class productions such as those for Justin Bieber, Duran Duran, Nicki Minaj, David Guetta’s world tour, Steve Aoky’s world tour, Skrillex, Doitch Bank Italy, Mediolanum Bank, BMW, Mercedes, Ducati, Ferrari and many others. Special thanks to our contact people at KVANT: Michal, Dusan and Milan. THANK YOU FOR THESE SPECTACULAR 10 YEARS.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Super FX – Filippo Scortichini</p>
          </div>

        </div>
    </div>
    
    <div class="page-overlay"></div>
  </div>

</div>

<script>
  $(document).ready(function() {
    $('#rental-gallery-1').lightGallery(); 
  });
  
  $(document).ready(function() {
    $('#rental-gallery-2').lightGallery(); 
  });

  $(document).ready(function() {
    $('#rental-gallery-3').lightGallery(); 
  });
  
  $(document).ready(function() {
    $('#rental-lightgallery-1').lightGallery(); 
  });

  $(document).ready(function() {
    $('#rental-lightgallery-2').lightGallery(); 
  });
  
</script>