<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="awards-certificates-wrap page-width">
  <p>During our business existence we achieved many national and international awards. We were also issued with many various certificates from our clients, suppliers, partners and institutions. Below you will find a chronological list of quite a few documents that show our comptence in the field of laser business.</p>
  <h2>2019</h2>
  <div class="awards-content-wrap">
    <h4>Sales of Coherent OPSL [1000 units sold]</h4>
    <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_8a950975-3ae2-4b8e-ad62-b04fec5461e1.jpg?v=1585235431">
  </div>
  <div class="awards-content-wrap">
    <h4>ISO Certification</h4>
    <div class="awards-content-images">
      <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2-1.jpg?v=1585235538">
      <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2-2.jpg?v=1585235538">
    </div>
    <div class="awards-content-images">
      <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2-3.jpg?v=1585235538">
      <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2-4.jpg?v=1585235538">
    </div>
  </div>
  
  <h2>2018</h2>
  <div class="awards-content-wrap">
    <p>The hard work and effort of the whole Kvant team was rewarded with four 1st place and one 2nd place ILDA Awards.</p>
    <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_65570151-769d-40cc-849c-58bafc82a3a6.jpg?v=1585236009">
  </div>
  
  <h2>2017</h2>
  <div class="awards-content-wrap">
    <h4>Sales of Coherent OPSL [800 units sold].</h4>
    <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_327588e2-4974-401e-a01c-920d5decb100.jpg?v=1585236092">
  </div>
    <div class="awards-content-wrap">
    <p>This year we hosted the International Laser Display Association (ILDA) gathering in Bratislava.</p>
      <p><strong>We received eight prestigious ILDA awards</strong> during the ceremony and that was the highest number of ILDA awards received in 2017 by a single business entity (thumbs up!).</p>
    <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_7ecc68da-c422-47e5-bec4-4ee3aa75adb6.jpg?v=1585236156">
  </div>
  <div class="awards-content-wrap">
    <h4>Sales of Coherent OPSL [700 units sold]</h4>
    <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_34303b2e-f5e0-4cea-bd43-4778949fa8fa.jpg?v=1585236210">
  </div>
  
  <h2>2016</h2>
  <div class="awards-content-wrap">
    <h4>Sales of Coherent OPSL [600 units sold]</h4>
    <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_748a3810-ce46-4484-94ef-576f4fc625e7.jpg?v=1585236277">
  </div>
  
  <h2>2014</h2>
  <div class="awards-content-wrap">
    <div class="awards-content-info-wrap">
      <div class="awards-content-info">
        <h4>Sales of Coherent OPSL [500 units sold]</h4>
        <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8_19175a0f-3ce1-4322-b0e1-08893e4c0857.jpg?v=1585236315">
      </div>

      <div class="awards-content-info">
        <h4>ILDA Awards 2014 </h4>
      <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8-1.jpg?v=1585236341">
      </div>
    </div>
    <div class="awards-content-wrap">
      <div class="awards-content-info-wrap">
        <div class="awards-content-info">
          <p>We were evaluated and certified as solvent company</p>
          <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8-4.jpg?v=1585236443">
        </div>

        <div class="awards-content-info">
          <h4>1st place at Slovak Gold Fundation</h4>
          <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8-3.jpg?v=1585236414">
        </div>
      </div>
    </div>
    <div class="awards-content-wrap">
      <h4>We became official PASS integrator</h4>
      <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8-2.jpg?v=1585236378">
    </div>
  
  <h2>2013</h2>
    <div class="awards-content-wrap">

      <div class="awards-content-info-wrap">
        <div class="awards-content-info">
          <h4>Sales of Coherent OPSL [400 units sold]</h4>
          <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9-1.jpg?v=1585236570">
        </div>

        <div class="awards-content-info">
          <h4>Business of 2013 finalist v</h4>
          <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9-2.jpg?v=1585236596">
        </div>
      </div>

    </div>
  
    <div class="awards-content-wrap">

      <div class="awards-content-info-wrap">
        <div class="awards-content-info">
          <h4>ILDA Awards 2010 - 2013</h4>
          <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9-3.jpg?v=1585236631">
        </div>

        <div class="awards-content-info">
          <h4>Sales of Coherent OPSL [300 units sold]</h4>
          <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9-4.jpg?v=1585236661">
        </div>
      </div>
    </div>
  
  <h2>2012</h2>
  
  <div class="awards-content-wrap">

    <div class="awards-content-info-wrap">
      <div class="awards-content-info">
        <h4>Sales of Coherent OPSL [200 units sold]</h4>
        <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/10-1.jpg?v=1585236705">
      </div>
      <div class="awards-content-info">
        <h4>Business of 2012 finalist </h4>
        <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/10-2.jpg?v=1585236730">
      </div>
    </div>
  </div>
  
  <h2>2011</h2>
  <div class="awards-content-wrap">
    <h4>Sales of JenLas D2 laser modules</h4>
    <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/11.jpg?v=1585236763">
  </div>
</div>
