<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="page-categories page-laser-modules-by-type">
  <div class="sub-collections">  
    <div class="collection-items">

      <div class="collection_item">
        <div class="collection-content">
          <h2>TEM00 DIODE MODULES</h2>
          <a href="/collections/tem00" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/DPSS_LASER_MODULES.png?v=1587829272">
        </div>
      </div>

      <div class="collection_item">
        <div class="collection-content">
          <h2>MULTI-MODE DIODE MODULES</h2>
          <a href="/collections/multi-mode-diode-modules" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/DPSS_LASER_MODULES.png?v=1587829272">
        </div>
      </div>

      <div class="collection_item">
        <div class="collection-content">
          <h2>MULTI-DIODE MODULES</h2>
          <a href="/collections/multiple-laser-diode-modules" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/MULTIPLE-LASER-DIODE-MODULES.png?v=1587829232">
        </div>
      </div>

      <div class="collection_item">
        <div class="collection-content">
          <h2>DPSS LASER MODULES</h2>
          <a href="/collections/dpss-laser-modules" class="btn">SHOW PRODUCTS</a>          
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/img2.png?v=1590576359">
        </div>
      </div>

      <div class="collection_item">
        <div class="collection-content">
          <h2>OPSL MODULES</h2>
          <a href="/collections/opsl-modules" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/ENGRAVING.png?v=1587840517">
        </div>
      </div>

      <div class="collection_item">
        <div class="collection-content">
          <h2>MULTIPLE-WAVELENGTH LASER MODULES</h2>
          <a href="/collections/multiple-wavelength-laser-modules" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/img1.png?v=1590576358">
        </div>
      </div>

    </div>
  </div>
</div>
