<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="page-categories page-laser-modules-by-type">
  <div class="sub-collections">  
    <div class="collection-items">
      
      <div class="collection_item">
        <div class="collection-content">
          <h2>AUTOMOTIVE</h2>
          <a href="/collections/automotive" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/AUTOMOTIVE.png?v=1587829592">
        </div>
      </div>

      <div class="collection_item">
        <div class="collection-content">
          <h2>FLUORESCENCE</h2>
          <a href="/collections/fluorescence" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/FLUORESCENCE.png?v=1587829603">
        </div>
      </div> 

      <div class="collection_item">
        <div class="collection-content">
          <h2>LASER CINEMA</h2>
          <a href="/collections/laser-cinema" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/LASER_CINEMA.png?v=1587829630">
        </div>
      </div>

      <div class="collection_item">
        <div class="collection-content">
          <h2>SPECTROSCOPY</h2>
          <a href="/collections/spectroscopy" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/SPECTROSCOPY.png?v=1587829647">
        </div>
      </div> 

      <div class="collection_item">
        <div class="collection-content">
          <h2>ARCHITECTURAL</h2>
          <a href="/collections/architectural" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/ARCHITECTURAL.png?v=1587829659">
        </div>
      </div>

      <div class="collection_item">
        <div class="collection-content">
          <h2>ENGRAVING</h2>
          <a href="/collections/engraving" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/ENGRAVING.png?v=1587840517">
        </div>
      </div>
      
      <div class="collection_item">
        <div class="collection-content">
          <h2>POLYMERISATION</h2>
          <a href="/collections/polymerisation" class="btn">SHOW PRODUCTS</a>
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/POLYMERISATION.png?v=1587829698">
        </div>
      </div>

    </div>
  </div>
</div>
