<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="site-page custom-page page-show-production" data-template-page>
  <div class="wrap">
    
    <div class="info show-production-info">
      <p class="bold-text">Although originally a laser manufacturer, we think about our business differently. We don’t consider ourselves to be in the laser equipment business but rather the entertainment business.<br>
        This means we go above and beyond just laser shows to create everything from custom laser displays and laser mapping through to 3D video and holographic projections, right up to fireworks and water shows. You name it, we can do it.</p>
      <p>During the past 20 years we have been presented with many opportunities, embracing these exciting challenges and experiences. Being part of teams in entertainment shows of all shapes and sizes for a range of brands has exposed us to many different approaches. This has helped create who we are today. </p>
      
      <p class="bold-text">Award-winning show production services</p>
      <p>That which started out as a show department quickly developed into an award-winning multimedia production team. As a result, we can build you a custom show with a range of options:</p>
      <ul>
        <li>Lasers shows.</li>
        <li>Laser displays and mapping.</li>
        <li>3D video and holographic projections.</li>
        <li>Fireworks.</li>
        <li>Water shows.</li>
      </ul>
      <h3>Pushing it further</h3>
      <p>Even after all those years we still love what we do and we treat every project with the same level of passion and commitment.<br>
        These are the people you can have on your side for your next show.</p>
      
      <div class="video-col">
        <div class="responsive-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/IGn233dWXHs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      
      <div class="references-wrap">
        <h2>References</h2>
        
        <div class="references-info">
          <a class="references-link" href="http://main.skrillex.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_8fc0b6be-6872-4e65-976f-a7e23593a387.png?v=1585310484" alt="Skrillex">
          </a>
          <a class="references-link" href="http://www.iihf.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_5f16c8ad-c4c8-4899-b140-c3b46138d7c1.png?v=1585310484" alt="IIHF">
          </a>
          <a class="references-link" href="http://www.audi.com/index.html" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_87ae4e70-cee5-4f6c-8d65-5aefa36d8d24.png?v=1585310484" alt="Audi">
          </a>
          <a class="references-link" href="http://tiesto.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_a2962cfd-14dc-4813-8e75-bc1c758d52d4.png?v=1585310484" alt="Tiesto">
          </a>
          <a class="references-link" href="http://www.paulvandyk.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5.png?v=1585310484" alt="Paul van Dyk">
          </a>
          <a class="references-link" href="https://www.microsoft.com/en-in/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6.png?v=1585310484" alt="Microsoft">
          </a>
          <a class="references-link" href="https://www.davidguetta.com" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7.png?v=1585310484" alt="David Guetta">
          </a>
          <a class="references-link" href="http://www.eurovision.tv/page/timeline" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8.png?v=1585310484" alt="Eurovision">
          </a>
          <a class="references-link" href="http://www.marriott.com/default.mi" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9.png?v=1585310484" alt="Marriott">
          </a>
          <a class="references-link" href="http://www.marchedufilm.com/en" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/10_ffe2026c-b340-4e74-bb10-e30b5449f15f.png?v=1585310484" alt="Marché du Film">
          </a>
          <a class="references-link" href="">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/11.png?v=1585310484" alt="Koh-i-Noor">
          </a>
          <a class="references-link" href="https://www.bellagio.com/en/nightlife/hyde.html" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/12.png?v=1585310484" alt="Hyde Bellagio">
          </a>
          <a class="references-link" href="http://www.bmw.com/com/en/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/13.png?v=1585310484" alt="BMW">
          </a>
          <a class="references-link" href="http://www.ibm.com/us-en/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/14.png?v=1585310484" alt="IBM">
          </a>
          <a class="references-link" href="http://www.skoda-auto.com/en" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/15.png?v=1585310484" alt="Škoda auto">
          </a>
          <a class="references-link" href="http://www.johnsoncontrols.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/16.png?v=1585310484" alt="Johnson Controls">
          </a>
        </div>
      </div>
      
      <div class="guide-wrap">
        <h2>Show production guide</h2>
        <p>Take a look here to get an idea of what we could do for you.</p>
        <a class="btn" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/show-ponukaEN-QR-2020-19-03.pdf?v=1585311854" target="_blank">Download</a>
      </div>
    </div> 
    
    <div class="page-form page-form-show-production">
     <div style="margin:0 auto;" class="pxFormGenerator" id="v9PrJZbQKpKET52jsKY_AQ"></div>
    </div>
    
    <div class="gallery-page-wrap show-prod-slider mosaic-wrap">
		
      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_6cd2be8e-c4f9-4d82-88c9-e1c40c778e4f.jpg?v=1586180529);">
            <h3>Prolight + Sound, Frankfurt 2017</h3></div>
          <div id="show-gallery-1" class="mosaic-info">
            <a href="https://youtu.be/-xzP0YlJTOg" class="btn">
              Play Video
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_6cd2be8e-c4f9-4d82-88c9-e1c40c778e4f.jpg?v=1586180529"></a>
          </div>

        </div>
      </div>
      
      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_50b52b0a-7028-4345-8d51-70d3f9a4c4b4.jpg?v=1586180529);">
            <h3>Lina Mayer I</h3></div>
          <div id="show-gallery-2" class="mosaic-info">
            <a href="https://youtu.be/HO9k2ecrla0" class="btn">
              Play Video
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_50b52b0a-7028-4345-8d51-70d3f9a4c4b4.jpg?v=1586180529"></a>
          </div>

        </div>
      </div>

      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_28024b83-57e3-4aca-81ce-c01c5170a378.jpg?v=1586180530);">
            <h3>Miss Slovakia 2016</h3></div>
          <div id="show-gallery-3" class="mosaic-info">
            <a href="https://vimeo.com/166925467" class="btn">
              Play Video
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_28024b83-57e3-4aca-81ce-c01c5170a378.jpg?v=1586180530"></a>
          </div>

        </div>
      </div>
      
      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_983029ec-3ac4-48c6-96c5-ce248ee4e38e.jpg?v=1586249219);">
            <h3>ISU European Figure Skating Championships</h3></div>
          <div id="show-lightgallery-1" class="mosaic-info">
            <a href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_983029ec-3ac4-48c6-96c5-ce248ee4e38e.jpg?v=1586249219" class="btn">
              Open gallery
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_983029ec-3ac4-48c6-96c5-ce248ee4e38e.jpg?v=1586249219"></a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_5631b7d9-dbfb-4bef-a788-453ee21438c2.jpg?v=1586249219">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_5631b7d9-dbfb-4bef-a788-453ee21438c2.jpg?v=1586249219">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_0152c0bb-85f3-47d3-8ce2-2793b8967bda.jpg?v=1586249218">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_0152c0bb-85f3-47d3-8ce2-2793b8967bda.jpg?v=1586249218">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_f78883e4-e391-43e6-b6d7-51d0f8db2e29.jpg?v=1586249219">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_f78883e4-e391-43e6-b6d7-51d0f8db2e29.jpg?v=1586249219">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8_6a918b17-c280-4d18-8175-533f9a52c478.jpg?v=1586249218">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8_6a918b17-c280-4d18-8175-533f9a52c478.jpg?v=1586249218">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9_7213adaf-ba29-4281-94d5-0608d3ef9a37.jpg?v=1586249219">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9_7213adaf-ba29-4281-94d5-0608d3ef9a37.jpg?v=1586249219">
            </a>

          </div>
        </div>
      </div>
      
      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_c9a5837c-5185-412d-a517-1534b80317e6.jpg?v=1586249492);">
            <h3>Introduction of new BMW 7</h3></div>
          <div id="show-lightgallery-2" class="mosaic-info">
            <a href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_c9a5837c-5185-412d-a517-1534b80317e6.jpg?v=1586249492" class="btn">
              Open gallery
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_c9a5837c-5185-412d-a517-1534b80317e6.jpg?v=1586249492"></a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_4909ca21-f585-4db1-b97c-2dfa7d820ea1.jpg?v=1586249492">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_4909ca21-f585-4db1-b97c-2dfa7d820ea1.jpg?v=1586249492">
            </a>
            
            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_569ab0ae-b095-4e15-bb3a-c282313bec79.jpg?v=1586249492">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_569ab0ae-b095-4e15-bb3a-c282313bec79.jpg?v=1586249492">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_dcb60697-7114-4c7d-8961-aab417b9dd45.jpg?v=1586249492">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_dcb60697-7114-4c7d-8961-aab417b9dd45.jpg?v=1586249492">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_19b61c4b-7805-4540-bb7b-0b9f50b8cfa5.jpg?v=1586249492">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_19b61c4b-7805-4540-bb7b-0b9f50b8cfa5.jpg?v=1586249492">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_77500ced-7f7b-4c02-9df7-1b1bb4196b8e.jpg?v=1586249492">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_77500ced-7f7b-4c02-9df7-1b1bb4196b8e.jpg?v=1586249492">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_f78883e4-e391-43e6-b6d7-51d0f8db2e29.jpg?v=1586249219">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_f78883e4-e391-43e6-b6d7-51d0f8db2e29.jpg?v=1586249219">
            </a>

          </div>
        </div>
      </div>
      
    </div>
    
      <div class="testiminials-wrap">

        <h2>Testimonials</h2>

        <div class="testiminials-content">
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>Our company specializes in video, but we often use lasers for a quality show. KVANT has been our exclusive partner for laser shows for more than 3 years. Together we have done a lot of events, including show scoring at ILDA awards, which we are rightly proud of :). KVANT is also a crucial supplier of LED screens, including the record-breaking longest in-store LED screen 30 meters long! For us, KVANT is a quality partner with the best service.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Screenrental CZ – Jan Neubauer</p>
          </div>

          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>More than 50 events with KVANT lasers and LED screens have convinced us that it’s important to choose proven suppliers. A professional team and cutting-edge technologies make events with KVANT exceptional visual shows. That’s why Slovakia is never too far for us.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Cirque Production CZ – Martin Kvítek</p>
          </div>

          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>We have been cooperating with KVANT for more than 5 years and have done tens of different projects in the Czech Republic and abroad together – from small art shows up to large multimedia shows for tens of thousands of viewers. We appreciate the professionalism and creativity which our colleagues from KVANT bring to our every mutual project. We have every reason to believe this cooperation will continue for years to come.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Art4promotion CZ – Ing. Rudolf Střitecký</p>
          </div>

          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>Our company specializes in video, but we often use lasers for a quality show. KVANT has been our exclusive partner for laser shows for more than 3 years. Together we have done a lot of events, including show scoring at ILDA awards, which we are rightly proud of :). KVANT is also a crucial supplier of LED screens, including the record-breaking longest in-store LED screen 30 meters long! For us, KVANT is a quality partner with the best service.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Screenrental CZ – Jan Neubauer</p>
          </div>

          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>More than 50 events with KVANT lasers and LED screens have convinced us that it’s important to choose proven suppliers. A professional team and cutting-edge technologies make events with KVANT exceptional visual shows. That’s why Slovakia is never too far for us.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Cirque Production CZ – Martin Kvítek</p>
          </div>
        </div>
    </div>
    
    <div class="page-overlay"></div>
  </div>

</div>

<script>
  $(document).ready(function() {
    $('#show-gallery-1').lightGallery(); 
  });
  
  $(document).ready(function() {
    $('#show-gallery-2').lightGallery(); 
  });
  
  $(document).ready(function() {
    $('#show-gallery-3').lightGallery(); 
  });

  $(document).ready(function() {
    $('#show-lightgallery-1').lightGallery(); 
  });
  
  $(document).ready(function() {
    $('#show-lightgallery-2').lightGallery(); 
  });
</script>