<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="page-width contact-content">

  <div class="contact-form contact-form-wrap form-vertical">

     <div class="globo-formbuilder" data-id="Nzk4ODQ="></div>
  </div>
  

  <div class="contact-info">
    <div class="contact-content-info">
      <img src="https://cdn.shopify.com/s/files/1/0640/3394/7893/files/pangolin_kvant_logo.webp?v=1652127135" alt="Pangolin and KVANT Lasers Logo">

      <p>
        Pangolin Lasers, LLC<br>
        1265 Upsala Road, suite 1165<br>
        Sanford, FL 32771<br>
        Office Hours: 10am-6pm EST<br><br>
        E: <a href="mailto:sales@pangolin.com">sales@pangolin.com</a><br>
        T: <a href="tel:+1(407) 299-2088">+1(407) 299-2088</a>
      </p>

    </div>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3495.958082981054!2d-81.32447358396516!3d28.810322982348044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e7128a34e8f131%3A0xa8b38d3df408a767!2s1265%20Upsala%20Rd%2C%20Sanford%2C%20FL%2032771!5e0!3m2!1sen!2sus!4v1652109752183!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

</div>

