<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="site-page custom-page page-show-production" data-template-page>
  <div class="wrap">
    
    <div class="info show-production-info">
      <p class="bold-text">A single beam of light starts every show – regardless of scale. And getting that one beam just right is an art and science. And it’s precisely this quality and attention that influences what the audience sees when the show kicks off.<br>
        Need professional custom work? Our in-house design and production department is at hand.</p>
 
      <p>You may require a custom laser module developed. This is usually costly and timely, requiring a lot of trial and error. Luckily we have been there before, this is what we do, let us save the time and money and develop the product for you.</p>
      
      <p class="bold-text">Custom laser modules development:</p>
      
      
       <ul>
        <li>In-house design and development department.</li>
        <li>100% honest work for maximum performance and reliability.</li>
        <li>Our own electronic and physical production guarantees quality results.</li>
      </ul>

      <p class="bold-text">What’s in it for you?</p>
      
      <p>Shortly put: we can develop, manufacture or customize products exactly to your specifications. You benefit from our 20 years of experience all focused on creating the optimal solution for you. In this way we focus on the light so you can focus on the rest.</p>
      
      <div class="references-wrap">
        <h2>References</h2>
        
        <div class="references-info">
          <a class="references-link" href="http://www.aati-us.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_ada52601-365f-4fd1-b419-0b224b3df987.jpg?v=1585571473" alt="Advanced Analytical Technologies">
          </a>

          <a class="references-link" href="http://www.nuigalway.ie/physics/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_edfd93a4-4d49-4ce3-b174-714d42149bcb.png?v=1585571513" alt="National University of Ireland Galway">
          </a>

          <a class="references-link" href="http://www.sysmex.co.jp/en/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_70cb3886-d8e3-4f66-b041-d3482769f74d.png?v=1585571551" alt="Sysmex">
          </a>

          <a class="references-link" href="http://www.u-bordeaux.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_cb830696-5386-4b47-96cc-ae3cb222ed93.png?v=1585571596" alt="Université Bordeaux">
          </a>

          <a class="references-link" href="http://en.volkswagen.com/en.html" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_9763e65b-fb3b-4483-bb47-377045a562e3.png?v=1585571640" alt="Volkswagen">
          </a>

          <a class="references-link" href="http://www.metas.ch" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_2d9e52f9-6b46-424b-a736-93f7a8e3c16c.png?v=1585571755" alt="METAS">
          </a>

          <a class="references-link" href="https://www.uni-konstanz.de/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_a615e835-ce70-4e0d-8ed1-a44e250bf229.png?v=1585571788" alt="Universität Konstanz">
          </a>

          <a class="references-link" href="http://www.sheffield.ac.uk/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8_f31d837f-6e6e-4298-9ca2-bba733e44115.jpg?v=1585571824" alt="University of Sheffield">
          </a>

          <a class="references-link" href="http://gulbenkian.pt/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9_70b09aa8-7da8-45da-9a81-74a910735bc6.png?v=1585571860" alt="Fundacao Calouste Gulbenkian">
          </a>

          <a class="references-link" href="http://ph.qmul.ac.uk/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/10_0b7e4292-cae7-46d0-8861-094200c41a12.jpg?v=1585571908" alt="Queen Mary University of London">
          </a>

          <a class="references-link" href="http://www.u-tokyo.ac.jp/en/index.html" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/11_299e3d5f-b53f-42a7-be35-c7b6b64a4890.png?v=1585571966" alt="The University of Tokyo">
          </a>

          <a class="references-link" href="http://www.physik.uni-stuttgart.de/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/12_64e66553-1e0e-422a-82f2-c9750f19fc14.png?v=1585572012" alt="Custom development">
          </a>

          <a class="references-link" href="https://www.uni-bonn.de/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/13_ca315672-c2ca-4605-8d47-f1b983ae71f4.png?v=1585572050" alt="Uni Bonn">
          </a>

          <a class="references-link" href="https://www.epfl.ch/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/14_9ba0ffb1-8c2c-4219-8110-3ac694b42bc4.png?v=1585572098" alt="École polytechnique fédérale de Lausanne">
          </a>

          <a class="references-link" href="https://www.leeds.ac.uk/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/15_7abb3be0-b203-41f0-ae80-fc447cd7323a.png?v=1585572132" alt="University of Leeds">
          </a>

          <a class="references-link" href="http://www.port.ac.uk/school-of-civil-engineering-and-surveying/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/16_3efc55d9-cf69-48d5-bf1a-bc4d222ef325.png?v=1585572161" alt="School of Civil Engineering & Surveying, Portsmouth">
          </a>
         
        </div>
      </div>

    </div> 
    
    <div class="page-form page-form-show-production">
     <div style="margin:0 auto;" class="pxFormGenerator" id="v9PrJZbQKpKET52jsKY_AQ"></div>
    </div>
    
  </div>

</div>
