<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="mosaic-page page-width">

  <div class="mosaic-wrap support-wrap">  

    <div class="mosaic-block-wrap">
      <div class="mosaic-block">
        <a href="/pages/education" class="mosaic-link">
          <h3>Education</h3></a>
        <div class="mosaic-info">
          <p>In depth information about the latest laser light show technology, ArtNET, DMX and ILDA controllers and laser light applications.</p>
          <a href="/pages/education" class="btn">Learn more</a>
        </div>
      </div>
    </div>

    <div class="mosaic-block-wrap">
      <div class="mosaic-block">
        <a href="/pages/downloads" class="mosaic-link">
          <h3>Downloads</h3></a>
        <div class="mosaic-info">
          <p>In this section you will find all the manuals for Kvant laser light show systems, brochures to help you understand laser technology and company product catalogues.</p>
          <a href="/pages/downloads" class="btn">Learn more</a>
        </div>
      </div>
    </div>

    <div class="mosaic-block-wrap">
      <div class="mosaic-block">
        <a href="/pages/case-studies" class="mosaic-link">
          <h3>Case studies</h3></a>
        <div class="mosaic-info">
          <p>Some information about projects where Kvant laser display projectors and other Kvant laser display technologies were used.</p>
          <a href="/pages/case-studies" class="btn">Learn more</a>
        </div>
      </div>
    </div>
    
        <div class="mosaic-block-wrap">
      <div class="mosaic-block">
        <a href="/pages/laser-calculator" class="mosaic-link">
          <h3>Laser Irradiance and Beam Divergence Calculator</h3></a>
        <div class="mosaic-info">
          <p>Here's one of the most essential tools for assessing the basic laser display safety and MPEs</p>
          <a href="/pages/laser-calculator" class="btn">Learn more</a>
        </div>
      </div>
    </div>
    
        <div class="mosaic-block-wrap">
      <div class="mosaic-block">
        <a href="/pages/how-to-videos" class="mosaic-link">
          <h3>HOW-TO VIDEOS</h3></a>
        <div class="mosaic-info">
          <p>On this page, you will find video tutorials about our KVANT laser display projectors, laser display accessories and laser safety in general. We will be adding new videos as time goes, so please check this page regularly.</p>
          <a href="/pages/how-to-videos" class="btn">Learn more</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
