<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="mosaic-page page-width">

  <div class="mosaic-wrap thank-you-wrap"> 
    
    <div class="mosaic-block-wrap">
      <div class="mosaic-block">
        <a href="/pages/about-us" class="mosaic-link">
          <h3>About Kvant</h3></a>
        <div class="mosaic-info">

          <a href="/pages/about-us" class="btn">Learn more</a>
        </div>
      </div>
    </div>

    <div class="mosaic-block-wrap">
      <div class="mosaic-block">
        <a href="/pages/upcoming-events" class="mosaic-link">
          <h3>Upcoming Events</h3></a>
        <div class="mosaic-info">

          <a href="/pages/upcoming-events" class="btn">Learn more</a>
        </div>
      </div>
    </div>
    
    <div class="mosaic-block-wrap">
      <div class="mosaic-block">
        <a href="/blogs/news" class="mosaic-link">
          <h3>News</h3></a>
        <div class="mosaic-info">

          <a href="/blogs/news" class="btn">Learn more</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
