<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="mosaic-page page-width">

  <div class="mosaic-wrap education-wrap">  

    <div class="mosaic-block-wrap">
      <div class="mosaic-block">
        <a href="/pages/laser-controllers-artnet-dmx-ilda" class="mosaic-link">
          <h3>Laser controllers & ArtNET, DMX, ILDA</h3></a>
        <div class="mosaic-info">
          <p>Some valuable information about ArtNET, DMX and ILDA protocols in regards to laser light show projectors, can be found here.</p>
          <a href="/pages/laser-controllers-artnet-dmx-ilda" class="btn">Learn more</a>
        </div>
      </div>
    </div>

    <div class="mosaic-block-wrap">
      <div class="mosaic-block">
        <a href="/pages/laser-show-projector-guide" class="mosaic-link">
          <h3>Laser Show Projector Guide</h3></a>
        <div class="mosaic-info">
          <p>In this section you will find information about laser show projectors and laser light shows / laser displays.</p>
          <a href="/pages/laser-show-projector-guide" class="btn">Learn more</a>
        </div>
      </div>
    </div>

    <div class="mosaic-block-wrap">
      <div class="mosaic-block">
        <a href="/pages/laser-light-applications" class="mosaic-link">
          <h3>Laser light applications</h3></a>
        <div class="mosaic-info">
          <p>Laser lights and laser display systems can be used in so many different ways. In this section we will try to show you and explain some of the applications the lasers are good for.</p>
          <a href="/pages/laser-light-applications" class="btn">Learn more</a>
        </div>
      </div>
    </div>
        
  </div>
</div>
