<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="site-page custom-page page-equipment-hire-production" data-template-page>
  <div class="wrap">
    
    <div class="info show-equipment-hire-info">
      <p class="bold-text">Discover our 20 years of cutting edge achievements and you can see why we are so proud of our products. Continuously pushing for bigger, better and embracing change. When you buy from us, you buy confidence and quality in a laser that will work beyond your expectations. Let the equipment do the work so you can focus on your creativity.</p>
     
      <p>Before any KVANT laser hits the market, we put our design through a comprehensive testing program. We make sure that all the features come together seamlessly: purity and stability of beams, thermal management, speed of scanning and reliability, user-friendly operation, size and weight.</p>
      
      <p>We also keep track of the latest breakthroughs and improvements in laser solutions, which we promptly adapt for laser animation. As a result, you get to use the newest technologies built on a solid platform with performance and reliability in mind.</p>
      
      <p class="bold-text">Good reasons for purchasing from KVANT:</p>
      <ul>
        <li>Over 20 years’ experience and innovation in every product.</li>
        <li>During those years we have dealt with hundreds of very specific requests and have always found appropriate solutions.</li>
        <li>Tried, tested and proven lasers used everywhere from small clubs to huge shows for the world’s leading companies and entertainers.</li>
        <li>Solid customer support and great service..</li>
      </ul>
      <h3>The KVANT approach</h3>
      <p>We are not here to make a quick buck.<br>
What we are after is to make sure that we can truly solve your needs and add value. And that’s what we do.</p>
      <h3>Browse the products</h3>
      <p>Have a look at what we can offer by clicking the button below for our online catalogue.</p>
      <a href="https://kvant-lasers-hq.myshopify.com/pages/laser-display-systems" class="btn">ONLINE CATALOGUE</a>

      <div class="references-wrap">
        <h2>References</h2>
        
        <div class="references-info">
          <a class="references-link" href="http://www.audi.com/index.html" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_87ae4e70-cee5-4f6c-8d65-5aefa36d8d24.png?v=1585310484" alt="Audi">
          </a>
          
          <a class="references-link" href="http://tiesto.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_a2962cfd-14dc-4813-8e75-bc1c758d52d4.png?v=1585310484" alt="Tiesto">
          </a>

          <a class="references-link" href="https://www.microsoft.com/en-in/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6.png?v=1585310484" alt="Microsoft">
          </a>
          
          <a class="references-link" href="http://www.eurovision.tv/page/timeline" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8.png?v=1585310484" alt="Eurovision">
          </a>
          
          <a class="references-link" href="http://main.skrillex.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_8fc0b6be-6872-4e65-976f-a7e23593a387.png?v=1585310484" alt="Skrillex">
          </a>
          
          <a class="references-link" href="http://www.iihf.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_5f16c8ad-c4c8-4899-b140-c3b46138d7c1.png?v=1585310484" alt="IIHF">
          </a>
          
          <a class="references-link" href="">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/11.png?v=1585310484" alt="Koh-i-Noor">
          </a>
          
          <a class="references-link" href="http://www.bmw.com/com/en/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/13.png?v=1585310484" alt="BMW">
          </a>
          
          <a class="references-link" href="https://www.davidguetta.com" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7.png?v=1585310484" alt="David Guetta">
          </a>
          
          <a class="references-link" href="http://www.johnsoncontrols.com/" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/16.png?v=1585310484" alt="Johnson Controls">
          </a>
  
          <a class="references-link" href="http://www.marriott.com/default.mi" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/9.png?v=1585310484" alt="Marriott">
          </a>
          <a class="references-link" href="http://www.marchedufilm.com/en" target="_blank">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/10_ffe2026c-b340-4e74-bb10-e30b5449f15f.png?v=1585310484" alt="Marché du Film">
          </a>
        </div>
      </div>
      
      <div class="guide-wrap">
        <h2>Catalogue</h2>
        <p>For an immediate response contact us using the form on the right and get a customised quote or download our catalogue to browse at your convenience.</p>
        <a class="btn" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/Kvant-Product-Catalogue-2019-web.pdf?v=1585321966" target="_blank">Download</a>
      </div>
    </div> 
    
    <div class="page-form page-form-equipment-hire">
     <div style="margin:0 auto;" class="pxFormGenerator" id="g5WtxhdhNUly65JrrPJY6w"></div>
    </div>
    
    <div class="gallery-page-wrap mosaic-wrap">
      
      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_13edb042-9e7a-4038-9096-a662827e5010.jpg?v=1586253849);">
            <h3>Clubmax lasers with optical bench</h3></div>
          <div id="equipment-lightgallery-1" class="mosaic-info">
            <a href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_13edb042-9e7a-4038-9096-a662827e5010.jpg?v=1586253849" class="btn">
              Open gallery
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_13edb042-9e7a-4038-9096-a662827e5010.jpg?v=1586253849"></a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_40bfb5cd-f5f0-4dc2-9927-2178c0b93daa.jpg?v=1586253849">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_40bfb5cd-f5f0-4dc2-9927-2178c0b93daa.jpg?v=1586253849">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_65e26c51-0588-43aa-a2f5-649288d2e385.jpeg?v=1586253848">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_65e26c51-0588-43aa-a2f5-649288d2e385.jpeg?v=1586253848">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_fd594552-d381-4f73-a255-562dd19715ca.jpeg?v=1586253848">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_fd594552-d381-4f73-a255-562dd19715ca.jpeg?v=1586253848">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_1b2b2872-c810-4516-a1f6-29aed3b935b5.jpeg?v=1586253848">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_1b2b2872-c810-4516-a1f6-29aed3b935b5.jpeg?v=1586253848">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_cd15efd9-9c56-450d-8fce-0b864d59c771.jpeg?v=1586253848">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/6_cd15efd9-9c56-450d-8fce-0b864d59c771.jpeg?v=1586253848">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_89bce321-b96a-46f1-9f29-3c71b2d4e134.jpeg?v=1586253848">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/7_89bce321-b96a-46f1-9f29-3c71b2d4e134.jpeg?v=1586253848">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8_c41eafd6-3c5e-468d-a8a4-7c65a1e9a946.jpeg?v=1586253848">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/8_c41eafd6-3c5e-468d-a8a4-7c65a1e9a946.jpeg?v=1586253848">
            </a>

          </div>
        </div>
      </div>
      
      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_e3d64832-29b3-46bf-8018-367c5d4f0659.png?v=1586254042);">
            <h3>Green bigger than ever</h3></div>
          <div id="equipment-lightgallery-2" class="mosaic-info">
            <a href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_e3d64832-29b3-46bf-8018-367c5d4f0659.png?v=1586254042" class="btn">
              Open gallery
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_e3d64832-29b3-46bf-8018-367c5d4f0659.png?v=1586254042"></a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_06ebc242-0ac8-44f5-abac-240e4916fb9b.png?v=1586254043">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_06ebc242-0ac8-44f5-abac-240e4916fb9b.png?v=1586254043">
            </a>
            
            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_126c4343-8c40-4a12-abc6-5c6024dda90d.png?v=1586254042">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_126c4343-8c40-4a12-abc6-5c6024dda90d.png?v=1586254042">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_77334cfd-710d-4cce-b39d-c36202d27c8e.png?v=1586254042">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_77334cfd-710d-4cce-b39d-c36202d27c8e.png?v=1586254042">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_d07ecd51-4377-4dda-bcf4-13b8a120bedd.png?v=1586254042">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_d07ecd51-4377-4dda-bcf4-13b8a120bedd.png?v=1586254042">
            </a>

          </div>
        </div>
      </div>

      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_a98c7ba3-5667-431c-aa8b-b0509ba0bd31.jpg?v=1586254212);">
            <h3>Art of Light</h3></div>
          <div id="equipment-lightgallery-3" class="mosaic-info">
            <a href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_a98c7ba3-5667-431c-aa8b-b0509ba0bd31.jpg?v=1586254212" class="btn">
              Open gallery
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_a98c7ba3-5667-431c-aa8b-b0509ba0bd31.jpg?v=1586254212"></a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_7580c36e-7fb6-4459-8708-2d444cf47e22.jpg?v=1586254212">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_7580c36e-7fb6-4459-8708-2d444cf47e22.jpg?v=1586254212">
            </a>
            
            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_e02311b6-6165-4334-9adc-a0798edb940c.jpg?v=1586254212">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/3_e02311b6-6165-4334-9adc-a0798edb940c.jpg?v=1586254212">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_39a073f6-e8ad-41f9-a37e-f90d5a5c413b.jpg?v=1586254212">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/4_39a073f6-e8ad-41f9-a37e-f90d5a5c413b.jpg?v=1586254212">
            </a>

            <a class="hide-img" href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_bfe87311-40a6-45d6-94b7-da5d82e6c739.jpg?v=1586254212">
              <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/5_bfe87311-40a6-45d6-94b7-da5d82e6c739.jpg?v=1586254212">
            </a>

            </div>
        </div>
      </div>

      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_8ce8da57-4c67-4490-b7bd-ee80f36641a9.jpg?v=1586254327);">
            <h3>Prolight + Sound, Frankfurt 2014</h3></div>
          <div id="equipment-gallery-4" class="mosaic-info">
            <a href="https://youtu.be/lqw3Gd4vGGs" class="btn">
              Play Video
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/1_8ce8da57-4c67-4490-b7bd-ee80f36641a9.jpg?v=1586254327"></a>
          </div>

        </div>
      </div>

      <div class="mosaic-block-wrap">
        <div class="mosaic-block">
          <div class="mosaic-link" style="background: url(https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_bf0a3198-1308-47cd-a176-e3f791700b03.jpg?v=1586254327);">
            <h3>How lasers are made</h3></div>
          <div id="equipment-gallery-5" class="mosaic-info">
            <a href="https://youtu.be/RGqiM3Sygu4" class="btn">
              Play Video
              <img class="hide-img" src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/2_bf0a3198-1308-47cd-a176-e3f791700b03.jpg?v=1586254327"></a>
          </div>

        </div>
      </div>

    </div>
    
      <div class="testiminials-wrap">

        <h2>Testimonials</h2>

        <div class="testiminials-content">
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>KVANT lasers have surprised us time and time again – not only with how spectacularly they perform at a show, but also how easy to use our technicians find them. Our clients constantly remark on how stunning our shows look when we use KVANT.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Matthew Jens, Australia – Synergy Event</p>
          </div>

          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>I recently sold and installed two KVANT Clubmax1800 Lasers at Woodport Inn's nightclub. I’m just amazed with their quality; they blow away anything I have ever seen or used. The colours, the beam sharpness, the build quality – all fantastic. Everyone who came down to have a look when I installed them was very impressed. Big thanks to Dave Leigh at Lumina Visual productions for hooking me up!</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Warren Hook, Engage Audio Visual – New South Wales, Australia</p>
          </div>

          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>I am very impressed with the build quality and construction of the ClubMax 6000 lasers. The FB4 backpacks and the optional optical bench is well worth the investment. It provides my company with a simple build and install solution, saving both time and money. The output of the lasers is crisp – unlike a lot of Chinese lasers which often have different divergences between colours. I would recommend KVANT to anyone who wants quality.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Paul Hill Saturday Enterprises – Brisbane, Australia</p>
          </div>

          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>I used KVANT lasers for a demo at Disney Imagineering. After a successful demonstration of Particle effects (Laser Pixi Dust Trails), Blisslights was awarded a contract to develop a variation of the Particle effect for the new ride attraction "Mystic Manor" at Disney Hong Kong. Working with the KVANT team was flawless, and KVANT was an integral part of our successful completion of this important project.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Randy Johnson – Blisslights, USA</p>
          </div>

          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>Here at FullColorlasers.com we were looking for the perfect laser for small to medium size venues at an affordable price. We initially decided to purchase two Clubmax 3000s just for a test, and ended up being so pleased with their performance that we immediately purchased six more units. This laser has more power than expected, is durable, and produces vivid colors. For the price, you simply can’t beat it!</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Brooks Palmers – Full Color Lasers, USA</p>
          </div>
          
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>I have a customer who wanted to rent the same lasers he rented last year. I told him that I had something new that he might like, and I could showcase it for him at an upcoming meeting with his fellow colleagues. I walked into the meeting and set up the KVANT unit. After the fog machine fired up, I turned on the laser with some simple beam shows... "Holy cow!" was pretty much the reaction in the entire room! Not only was my client amazed, but his entire crew lit up almost as bright as the laser itself. They could not have been more happy and excited with anticipation for the event coming up. I know that this laser will be the pinnacle of the show.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Bob Fleischmann – USA</p>
          </div>
          
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>We were doing a light and laser show for the unveiling of Barone Fortress in Šibenik on the Adriatic coast. Two hours before the event, we realized that one KVANT Clubmax 6000 was only projecting in red. After some error checking, I decided to call KVANT tech support. Long story short, after a very long call with an extremely helpful support technician, we determined the cause and repaired it right there just before the event started. You have excellent tech support which saved me in a very tricky situation, and I am really grateful.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Hrvoje Simic – Prolight, Croatia</p>
          </div>
          
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>I've been doing laser shows for around 14 years and I bought my first KVANT projector 8 years ago. So far, I have done over 270 shows with it and it is still going strong! I just purchased two new ClubMax 3400 systems. Built like tanks, their performance is second to none, as expected. Anytime I’ve had technical questions, they were answered quickly. I hope to purchase more KVANT units real soon, as my clients really notice the difference between them and the cheaper Chinese-built systems my competitors use.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Carlos Lopez – LasersLive, USA</p>
          </div>
          
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>With regard to the KVANT Spectrum 3W with HP scanners, all I can say is that the system is awesome – it blows my other Chinese lasers out of the water in every respect. People are always commenting that the quality of the beams and colours produced are the best they've ever seen, and I agree. The service from KVANT UK has also been excellent, usually with immediate and enthusiastic response.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Sean Hockey – Illumashroom, UK</p>
          </div>
          
          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>It’s how a business responds when things go wrong that marks the quality of their service. We recently ordered two ATOM 1500 lasers from KVANT UK. The pre-sales assistance was excellent. However, one laser was received damaged upon delivery. Well, it was collected and the replacement received within 10 working days; no fuss, no bother, no stress. I also know that KVANT has worked to ensure the nature of the damage will not reoccur in the future.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Laurence Lane – AMP, UK</p>
          </div>

          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>As the technical director for Arc Festival, I required a high impact laser solution to supplement a comprehensive installation on the main stage. KVANT UK provided an impressive full-colour multi laser setup for us, and programmed it expertly to match the diverse performances on the main stage. Working within tight time constraints, the hardware was installed quickly and safely. I would not hesitate to recommend KVANT UK for another project and would like to work with them again.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Will Young – UK</p>
          </div>

          <div class="testimonials-slide">
            <img src="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/quote.svg?v=1585313523">
            <div class="testimonials-quote">
              <p>I recently purchased a KVANT ClubMax 6000 and I am very impressed with this laser projector. The beams are tight, with clean color mixing, and the Pangolin 506 scanners maintain image integrity even with complex graphics. We really stress-tested the projector during the 2015 YouTube Music Awards, and it handled everything we threw at it. It outperformed some of the bigger and more expensive projectors we had, especially at wide angles. I plan to order more of these. KVANT quality is unbeatable, especially at such a great price.</p>
            </div>

            <div class="testimonials-line"></div>

            <p class="quote-author">Adam LaBay – Future Weapons, USA</p>
          </div>
          
        </div>
    </div>
    
    <div class="page-overlay"></div>
  </div>

</div>

<script>
  $(document).ready(function() {
    $('#equipment-lightgallery-1').lightGallery(); 
  });
  
  $(document).ready(function() {
    $('#equipment-lightgallery-2').lightGallery(); 
  });

  $(document).ready(function() {
    $('#equipment-lightgallery-3').lightGallery(); 
  });
  
  $(document).ready(function() {
    $('#equipment-gallery-4').lightGallery(); 
  });

  $(document).ready(function() {
    $('#equipment-gallery-5').lightGallery(); 
  });

</script>