<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="about-us-wrap page-width">
  <div class="about-us-content dark-bg">

    <div class="flex-col">
      <div class="info">
        <p>From the development of laser light show technology to the manufacturing of laser hardware and laser software, it is what we have been doing better than anyone else for over 30-years.</p>

        <p>We at Pangolin Lasers, LLC have partnered with Kvant Lasers s.r.o to produce and distribute a wide selection of laser show technology, including complete laser show systems, laser modules, as well as laser hardware, accessories, and more.</p>

        <p>As a team we focus largely on the quality, reliability, and support of our products. We are fully committed to our customers ensuring a first class experience above all else, backed by a team of highly skilled professionals here to accommodate all your questions and needs.</p>

        <p>From point of sale and order processing to customer support and training, our team is here to ensure that all of your needs are taken care of. You are our top priority and our team's attitudes reflect this philosophy. We will go above and beyond to ensure that when you deal with Pangolin, you are treated with only the highest standards of customer service. This is our employees’ promise to you as a Pangolin client.</p>

      </div>
      <div class="image-box-wrap">
        <div class="image-box">
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/laser_on_drone_720x_a14706f1-9876-4fac-b360-8b4092ef39de.jpg?v=1587825142">
        </div>
        <div class="image-box">
          <img src="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/20200128-123122-Fotor-133979-1580718514_80009c21-7420-4456-be28-923ff93da804.jpg?v=1587825142">
        </div>
      </div>
    </div>

    <div class="btn-wrap">
      <a class="btn" href="https://cdn.shopify.com/s/files/1/0310/9955/1789/files/Kvant_laboratory_laser_modules_2019.pdf?v=1587824792" target="_blank">Product Catalogue 2019</a>
    </div>
  </div>
</div>
