<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="how-to-videos-info page-width">
  <p>On this page, you will find video tutorials about our KVANT laser display projectors, laser display accessories and laser safety in general. We will be adding new videos as time goes, so please check this page regularly.</p>
</div>

<div class="how-to-videos-wrap page-width">
  <div class="video-col">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ASyuUplQKQU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h3>QUICK GUIDE: HOW TO start KVANT laser display system</h3>
  </div>
  
    <div class="video-col">
      <div class="responsive-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WqhxWk0v0Zg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <h3>HOW TO install SafetyScan lens onto Clubmax FB4 laser projector</h3>
  </div>

  <div class="video-col">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lSbUy-KC31k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h3>HOW TO install SafetyScan lens onto Atom & Spectrum laser systems</h3>
  </div>

  <div class="video-col">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/D-2lrIa0J2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h3>HOW TO fit 4-way masking plate to Clubmax FB4 laser show system</h3>
  </div>

  <div class="video-col">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Mp2BPdnWFNA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h3>HOW TO fit 4-way masking plate to Atom & Spectrum lasers</h3>
  </div>

  <div class="video-col">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/IE2HXRcGgNc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h3>HOW TO put Rain Cover onto KVANT Clubmax FB4 laser projector</h3>
  </div>

  <div class="video-col">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/OHieSl8Xq04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h3>HOW TO put Rain Cover onto KVANT Atom & Spectrum full-colour lasers</h3>
  </div>

  <div class="video-col">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DUZyrFf4Ork" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h3>HOW to install DiscoScan lens on Clubmax FB4 white-light laser</h3>
  </div>
  
    <div class="video-col">
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6SrKue2Pqfw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
      <h3>HOW to install DiscoScan lens on Atom & Spectrum white-light projectors</h3>
  </div>

</div>
