<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="page-width contact-content">

  <div class="contact-form contact-form-wrap form-vertical">
	<div class="globo-formbuilder" data-id="Nzk5ODI="></div>
  </div>
  

  <div class="contact-info">
    
    <h3>Custom Systems</h3>
    <p>The customisation of laser systems is what we specialise at. We can do virtually anything required, including laser module systems with or without scanning; single or multi-colour; with beam shaping optics or with ultra-low beam divergence; for creative or scientific applications; extra light or ultra-stable; and from hand-held pointers to hundreds of watts.</p>
    <p><strong>No matter how small or big, simple or complex, just let us know!</strong></p>
    
    <img src="https://cdn.shopify.com/s/files/1/0640/3394/7893/files/pangolin_kvant_logo.webp?v=1652127135" alt="Pangolin and KVANT Lasers Logo">

      <p>
        Pangolin Lasers, LLC<br>
        1265 Upsala Road, suite 1165<br>
        Sanford, FL 32771<br>
        Office Hours: 10am-6pm EST<br><br>
        E: <a href="mailto:sales@pangolin.com" class="light-red">sales@pangolin.com</a><br>
        T: <a href="tel:+1(407) 299-2088" class="light-red">+1(407) 299-2088</a>
      </p>
  </div>

</div>

