<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="downloads-content-wrap page-width">
  <div class="downloads-content">
    <h3>Manuals</h3>
    <div class="downloads-content__items">
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/HOW-TO-start-KVANT-laser-display-system.pdf?9831">
        <div class="download-file-title">HOW TO start KVANT laser display system</div>
        <div class="download-file-icon">
          <span class="download-file-size">647.97 KB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/KVANT-Clubma-series-manual-v030719.pdf?4129">
        <div class="download-file-title">KVANT Clubmax FB4 series - user manual [v030719]</div>
        <div class="download-file-icon">
          <span class="download-file-size">1.98 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/KVANT-Burstberry-user-manual-v030719_e852e8c5-b99d-4682-9a33-8be466a0838a.pdf?9835">
        <div class="download-file-title">KVANT Burstberry - user manual [v030719]</div>
        <div class="download-file-icon">
          <span class="download-file-size">2.41 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/KVANT-Atom-series-user-manual-v030719_1770d01f-05d3-4e31-b71a-d5bb2dc504f0.pdf?9838">
        <div class="download-file-title">KVANT Atom series - user manual [v030719]</div>
        <div class="download-file-icon">
          <span class="download-file-size">1.52 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/KVANT-Spectrum-series-user-manual-v030719_12c2b2f2-10ab-4e86-aa19-a97ee3ba70e5.pdf?9839">
        <div class="download-file-title">KVANT Spectrum series - user manual [v030719]</div>
        <div class="download-file-icon">
          <span class="download-file-size">1.86 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>

      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/KVANT-Logolas-series-user-manual-v030719_3d408744-fdd3-4cdd-8e61-d9c36f65411c.pdf?9840">
        <div class="download-file-title">KVANT Logolas series - user manual [v030719]</div>
        <div class="download-file-icon">
          <span class="download-file-size">1.88 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/KVANT-Ma-im-series-manual-v030719_4860a188-afbc-45d8-bd19-0d0151de0321.pdf?9841">
        <div class="download-file-title">KVANT Maxim series - user manual [v030719]</div>
        <div class="download-file-icon">
          <span class="download-file-size">2 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/KVANT-Clubma-series-manual-v030719_0e059bcf-b47b-4462-89f9-22748b28ff95.pdf?9844">
        <div class="download-file-title">KVANT Clubmax series - user manual [v030719]</div>
        <div class="download-file-icon">  
          <span class="download-file-size">2.27 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/Red-Laser-LED-bar-manual-v10.pdf?9845">
        <div class="download-file-title">Red Laser-LED bar - user manual [v10]</div>
        <div class="download-file-icon">    
          <span class="download-file-size">4.27 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/Laser-LED-bar-user-manual_f098a87d-187d-4101-9598-b6c3e8490aad.pdf?9846">
        <div class="download-file-title">Green Laser-LED bar - user manual [v20]</div>
        <div class="download-file-icon">
          <span class="download-file-size text-right file-65">5.3 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/Clubma-FB4-accessories-manual-package.pdf?9847">
        <div class="download-file-title">Clubmax FB4 accessories manual package</div>
        <div class="download-file-icon">
          <span class="download-file-size text-right file-86">3.76 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/HOW-TO-align-colours-with-Motorised-Dichroic-Filters.pdf?9848">
        <div class="download-file-title">HOW TO align colours with Motorised Dichroic Filters</div>
        <div class="download-file-icon">
          <span class="download-file-size text-right file-87">832.88 KB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
    </div>
  </div>

  <div class="downloads-content">
    <h3>Ebooks</h3>
    <div class="downloads-content__items">
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/KVANT-Tips-to-understanding-laser-display-systems.pdf?9851">
        <div class="download-file-title">KVANT Tips to understanding laser display systems</div>
        <div class="download-file-icon">
          <span class="download-file-size">2.06 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
    </div>
  </div>

  <div class="downloads-content">
    <h3>Brochures</h3>
    <div class="downloads-content__items">
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/Kvant-Product-Catalogue-2019-web.pdf?9854">
        <div class="download-file-title">KVANT Product Catalogue 2019</div>
        <div class="download-file-icon">
          <span class="download-file-size">5.89 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/KVANT-Lasers-modules-2019.pdf?9855">
        <div class="download-file-title">KVANT Laser modules 2019</div>
        <div class="download-file-icon">
          <span class="download-file-size">4.74 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/KVANT-Rental-price-list-2016.pdf?9856">
        <div class="download-file-title">KVANT Rental price list</div>
        <div class="download-file-icon">
          <span class="download-file-size">542.91 KB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/Kvant-Show-Production-2017-web-links.pdf?9857">
        <div class="download-file-title">KVANT Show production services</div>
        <div class="download-file-icon">
          <span class="download-file-size">4.26 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
    </div>
  </div>

  <div class="downloads-content">
    <h3>Laser show effects and animation files (compatible with Pangolin)</h3>
    <div class="downloads-content__items">
      
      <a href="https://cdn.shopify.com/s/files/1/0311/3415/4891/files/new-year-animations.rar?v=1585051077">
        <div class="download-file-title">2020 NYE (.lds files in .rar archive)</div>
        <div class="download-file-icon">
          <span class="download-file-size">3.06 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/Valentines-laser-animations.zip?9860">
        <div class="download-file-title">St. Valentine's Day (.lds files in .zip archive)</div>
        <div class="download-file-icon">
          <span class="download-file-size">3.95 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
      <a href="https://cdn.shopify.com/s/files/1/2680/6950/files/Winter-and-Christmas.rar?9861">
        <div class="download-file-title">Winter and Christmas (.lds files in .rar archive)</div>
        <div class="download-file-icon">
          <span class="download-file-size">18.39 MB</span>
          <i class="fas fa-cloud-download-alt"></i>
        </div>
      </a>
    </div>
  </div>
</div>
