<div class="page-bg">
  <div class="page-width">
    {% include 'breadcrumbs' %}
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="services-wrap page-width">
  
  <div class="services-info">
    <p>We do our best during the product manufacturing and quality control processes to avoid any mistakes that could result in technical difficulties with supplied equipment. But we are only human, and lasers are only machines. And we all know that even the best can fail.</p>
    <p>It's understood that very often fast, and efficient troubleshooting can be crucial for the success of your project. Our support and repair engineers always do their best, and sometimes even impossible, to make sure they get you out of trouble on time.<br>
      But again, they are only humans. Please bear that in mind!</p>
    <p>If you experience a problem with your Kvant laser display system or any other accessory or product purchased from us, please fill in this contact form with as much information as possible.<br>
      When it comes to faulty laser projectors, providing the serial number of the unit, together with some video footage of the problem, will often help to speed up the process.</p>
    <p><strong>Technical support hotline</strong>: +421 918 339 980</p>
  </div>

  <div class="services-form">
    <div style="margin:0 auto;" class="pxFormGenerator" id="MLMaa_E5xVFiGBpQuTWXDA"></div>
  </div>
  
</div>